<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<h1>Expense Tracker</h1>

<form action="/add" method="post">
    <input type="text" name="title" placeholder="Expense Title" required>
    <input type="number" name="amount" placeholder="Amount" required>
    <button type="submit">Add Expense</button>
</form>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Amount</th>
        <th>Delete</th>
    </tr>

    <tr th:each="expense : ${expenses}">
        <td th:text="${expense.title}"></td>
        <td th:text="${expense.amount}"></td>
         <td>
        <a th:href="@{/delete/{id}(id=${expense.id})}">Delete</a>
    </td>
        
    </tr>
    
</table>

</body>
</html>